.category {
  background-color: rgb(255, 222, 173);
  position: static;
  margin-top: 40px;
  border-radius: 10% / 50%;
  text-align: center;
  padding-top: 10px;
  opacity: 0.96;
  margin-bottom: 120px;
}

.categoryProdList {
  text-decoration: none;
  color: black;
}

.images {
  border-radius: 50% 20% / 10% 40%;
  border: 6px rgb(0, 256, 0) solid;
}

.desc
 {
   margin-left: 200px;
   margin-right: 200px;
   padding-bottom: 20px;
 }

.name
{
  padding: 22px;
  background-color: rgb(222, 184, 135);
  margin: 30px 200px 30px 200px;
}

.products {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.productImg {
  width: 300px;
  border-radius: 50% 20% / 10% 40%;
  border: 6px rgb(0, 256, 0) solid;
}

.prodDesc {
  text-align: left;
  margin: 4%;
  font-size: large;
}
